@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --button-hover-color: #e8e8e8;
    --button-text-color: #212121;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

@keyframes themetoggle {
    from {
        width: 1px;
        height: 1px;
    }

    to {
        width: calc(90vw + 90vh);
        height: calc(90vw + 90vh);
    }
}

.front {
    z-index: 99;
}

/* clear up down arrows for length input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* font sizes for password */
.font-lg {
    font-size: 2em;
}

.font-sm {
    font-size: 1em;
}

/* main styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* light and dark mode for background */
.light-mode {
    color: #212121;
    transition: 0.1s;
}

.light-mode-bg {
    background-color: #e8e8e8;
}

.dark-mode {
    color: #e8e8e8;
    transition: 0.1s;
}

.dark-mode-bg {
    background-color: #212121;
}

/* colors for sun/moon svg */
.sun-filter {
    filter: invert(99%) sepia(3%) saturate(245%) hue-rotate(193deg) brightness(116%) contrast(82%);
}

.moon-filter {
    filter: invert(1%) sepia(5%) saturate(46%) hue-rotate(314deg) brightness(105%) contrast(76%);
}

/* container for all content */
.container {
    display: flex;
    flex-direction: column;
    width: 40vh;
}

.lbl {
    display: flex;
    margin: auto;
}

/* box including password and show/hide icon */
.pass-box {
    display: flex;
    height: 5vh;
    width: 40vh;
    background-color: white;
    margin: 5% auto;
    border-radius: 5px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* the password */
.password {
    display: flex;
    justify-self: flex-start;
    color: black;
    margin-left: 1vh;
}

/* eye icon */
.showhide {
    display: flex;
    justify-self: flex-end;
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: 0.5vw;
    border-radius: 5px;
}

img {
    height: 3.5vh;
}

.showhide:hover {
    cursor: pointer;
}

/* length and new password button */
.inputs {
    display: flex;
    height: 5vh;
    justify-content: space-evenly;
}

.inputs>* {
    border-radius: 5px;
}

/* new password button */
.newPass {
    display: flex;
    padding: 0 5px;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    color: #e8e8e8;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.newPass:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
    color: var(--button-text-color);
}

/* length number input */
.passLength {
    display: flex;
    width: 4vw;
    text-align: center;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    color: #e8e8e8;
    min-width: 55px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.passLength:focus {
    background-color: var(--button-hover-color);
    color: var(--button-text-color);
}

/* light mode palette for passbox, length, new pass */
.light-mode-input {
    color: #212121;
    border-color: #212121;
    background-color: #21212103;
}

/* dark mode palette for passbox, length, new pass */
.dark-mode-input {
    color: #e8e8e8;
    border-color: #e8e8e8;
    background-color: #e8e8e80e;
}

/* position of sun/moon svg */
.darklightmode {
    display: flex;
    position: relative;
    width: 5vh;
    height: 5vh;
    margin: 50px auto 0 auto;
    background-color: transparent;
    border: none;
    transition: 0.25s ease-out;
    justify-content: center;
    align-items: center;
}

.darklightmode:hover {
    rotate: -10deg;
    scale: 1.05;
    cursor: pointer;
}

/* dark-light mode switch animation */
.circle {
    position: absolute;
    margin: 25% 0;
    border-radius: 50%;
    background-color: var(--button-text-color);
    z-index: 1;
}

.circle-anim {
    animation: themetoggle 0.4s ease-out 1;
}
